<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ settings.favicon | img_url: 'small' }}">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'anime.min.js' | asset_url }}"></script>
    <script src="{{ 'alpinejs.min.js' | asset_url }}" defer></script>
  </head>
  <body>

    {% section 'header' %}

    <main class="pt-8 pb-9 md:pt-10 md:pb-11 flex flex-col min-h-screen">
      {{ content_for_layout }}
    </main>
    
    {% section 'footer' %}

  </body>
</html>